<div class="navbar-wagon fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "LogoMakr_6SNA21.png" %>
  <% end %>
  <div class="dropdown ">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li> <a href="/"> <p> <i class="fas fa-home"></i>Home</p></a></li>
      <li><%= link_to topics_path do %> <i class="fas fa-file-alt"></i> Indicadores</p><% end %></li>
       <li><%= link_to statistics_path do %> <p><i class="fas fa-chart-bar"></i> Estadisticas</p><% end %></li>
       <% if user_signed_in? %>
       <li><a href="/"><p><i class="fas fa-pencil-alt"></i>Dashboard</p></a></li>
       <%= link_to destroy_user_session_path, method: :delete do %>
     <p><i class="fas fa-sign-out-alt"></i> Salir</p>
     <% end %>
      <% end %>
      <li><a href="/"><p><i class="fas fa-phone-volume"></i> Contacto</p></a></li>
    </ul>
  </div>

</div>

