<div class="header">
  <div class="container">
    <div class="row">
      <div class="header-links">
        <ul>
          <li><a href="/topics">CATEGORIAS</a></li>
          <li><a href="/reasons">PILARES</a></li>
          <li><a href="/themes">TEMAS</a></li>
          <li><a href="/subthemes">SUBTEMAS</a></li>
          <li><a href="/indicators">INDICADORES</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-title">
      <h2>Indicadores de la Iniciativa Ciudades
      Emergentes y Sostenibles</h2>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 10px;">
  <p id="notice"><%= notice %></p>
  <h2>Pilares</h2>
  <hr>
  <div class="table">
    <div class="table-content">
      <% @reasons.each do |reason| %>
      <div class="topic">
        <%= link_to reason do %>
        <h3>· <%= reason.title %></h3>
        <% end %>
        <div>
          <% reason.themes.each do |theme| %>
          <%= link_to theme do %>
          <h6> <%= theme.title %> </h6>
          <%end%>
          <%end%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
